<!-- Page Template: Homepage -->
{% extends "layout.html" %}
{% block headerpage %}
<header class="page-header">
	<h1>The Hero's list</h1>
	<h4>"with great power comes great responsibility"</h4>
</header>
{% endblock headerpage %}

{% block content %}
<main class="row">
	{% if items %} <!-- Check if items exist -->
	{% for item in items %} <!-- For loop to show items -->
	<div class="col-md-4 col-sm-6">
		<div class="thumbnail">
		    <a href="{{url_for('showItem', item_id=item.id)}}" class="img-link">
				<div class="div-thumb">
					<!-- Check if item has a picture file or a link to picture -->
					{% if item.picture_filename != none %}
					<img src="{{url_for('show_image', filename=item.picture_filename)}}" alt="hero picture" class="img-thumb img-responsive">
					{% elif item.picture_url != none %}
					<img src="{{item.picture_url}}" alt="hero picture" class="img-thumb">
					{% endif %}
				</div>
			</a>
			<div class="caption align-center">
				<h3><span class="hero-name">{{ item.name }}</span>
				<br><br>
				<a href="{{url_for('showCategory', category_id=item.category.id)}}">{{ item.category.name }}</a></h3>
			</div>
		</div>
	</div>
	{% endfor %}
	{% else %} <!-- If no items avaiable, show this message-->
	<h3 class="align-center"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> There is no Hero here yet! <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></h3>
	{% endif %}
</main>
{% endblock content %}